{% extends 'base.html' %}

{% block explore %}
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for post in posts %}
        <div class="col">
          <div class="card shadow-sm">
            {% if (current_user.is_authenticated) and (post.tuxcoins.filter_by(user_id = current_user.id).all()) %}
            <div class="card-header"><span class="badge rounded-pill bg-success">Found</span> </div>
            {% else %}
            <div class="card-header">&nbsp;</div>
            {% endif %}
            <img src="{{url_for('photo', filename=post.img)}}" alt="{{post.title}}" width="100%", height="225">

            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">{{ post.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{ url_for('view', id=post.id)}}" class="btn btn-sm btn-outline-secondary">View</a>
                </div>
                <small class="text-muted">2 mins</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
  {% endblock %}